
    <div class="row">
<div class="col-md-6">
        <div class="row">
        <% lists.forEach(item =>{%>
            <div class="col-md-6 rounded border border-dark  bg-white d-flex flex-column  py-2 mb-1">
                    <button type="button" class="delete-list-btn btn align-self-end field-delete d-block p-2" data-id="<%= item._id%>"></button>
            <ol class="list-group list-group-flush px-4 py-1">
                <% item.text.forEach(item => {%>
                    <li class="list-group-item border-0 px-2 py-0 text-break"><%= item%></li>
                <%})%>
            </ol>
            <button type="button" class="view-list-btn btn btn-primary d-block mt-auto align-self-center" data-id="<%= item._id%>">view</button>
        </div>
            <%})%>
        </div>
        </div>
    </div>
    </div>