


    <div class="row">
            <div class="col-md-10 rounded border border-dark  bg-white d-flex flex-column p-2 mx-auto mb-4" id='list-view-wraper'>
            <button type="button" class="btn add-field position-absolute align-self-start p-3" style="z-index: 100;" data-type="add-field-create"></button>
            <form class="col-md-10 mx-auto mt-4">
                    <input type="text" class="form-control pr-4 my-4" placeholder="title" name="todo-title"></input>
                <ol class="pr-1" id="list">
                    <li class="form-group  position-relative">
                            <input type="text" class="form-control pr-4" placeholder="enter some text" name="todo-text">
                            <button type="button" class="close field-delete-btn" aria-label="Close">
                                    <span aria-hidden="true" class="field-delete p-2 d-block"></span>
                            </button>
                    </li>
                </ol>
            </form>
            <button type="button" class="btn btn-dark create-list-btn fixed-bottom w-100 py-3">Save</button>
        </div>  
    </div>

