<div class="row">
        <button type="button" class="btn add-field position-absolute align-self-start p-3 ml-2" style="z-index: 100;"
                data-type="add-field-create"></button>
        <form class="col-12 mx-auto mt-5" id="list">

                <input type="text" class="form-control mb-3" aria-label="Recipient's username" name="todo-title"
                        placeholder="title">

                <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="text" aria-label="Recipient's username"
                                name="todo-text">
                        <div class="input-group-append">
                                <button class="btn btn-outline-secondary field-delete" type="button"></button>
                        </div>
                </div>
        </form>
        <button type="button" class="btn btn-dark create-list-btn fixed-bottom w-100 py-3">Save</button>
</div>