
<div class="row">
  <div class="col-md-10 bg-white d-flex flex-column p-2 mx-auto mb-4 card-wrapper">
    <div class="card border-0">
        <button type="button" class="close note-delete-btn align-self-end field-delete d-block p-2 position-absolute mt-1" aria-label="Close" data-id="<%= note._id%>"></button>
        <div class="card-body card-wrapper">
          <h5 class="card-title text-center"name="note-title"><%= note.title %></h5>
          <p class="card-text" name="note-text"><%= note.text %></p>
          <button type="button" data-id="<%= note._id%>" class="btn btn-warning edit-note-btn d-block m-auto align-self-center fixed-bottom w-100 py-3">Edit</a>
        </div>
      </div>
    </div>
  </div>
  