<h1><%= pageTitle%></h1>
<div class="container">
  <div class="row">
    <form class="col-md-10 mx-auto"> 
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="enter something">
        </div>
        <div class="form-group">
            <label>Text</label>
            <textarea placeholder="enter something" class="form-control" rows="30"></textarea>
        </div>
    </form>
  </div>
</div>