body{
    background-color: beige;
}

.field-delete-btn{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.field-delete{
    background-image: url(/img/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.list-group-item {
    display: list-item;
    counter-reset: none
}

.view-list-div{
    min-height: 
}

.add-field{
    background-image: url(/img/add.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}