
.field-delete-btn{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.field-delete{
    background-image: url(/img/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.form-group {
    font-size: 17px;
}